* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
      sans-serif;
      user-select: none;
  }

  :root {
    --primary-color: #6f96f8;
    --secondary-color: #fff;
  }
a{
  text-decoration: none;
}
.navbar {
    width: 100%; 
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-bar {
    position: relative;
  }
  
  .greetings {
    font-size: 2rem;
  }
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 3rem;
    margin-right: 1rem;
  }
  
  .menu-icon {
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .menu-icon {
    font-size: 2rem;
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #fff;  
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.35);
    color: #000;
    transition: left 0.3s;
    z-index: 2;
    overflow: auto;
  }

  .side-user-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('user-profile-image.jpg');
    background-size: cover;
    margin-bottom: 10px;
  }

  .db-section{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .db-section li{
    font-size: 1rem;
    list-style: none;
    margin-left: 1rem;
  }
  .li-dt{
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    margin-left: 1rem;
    border-radius: 6px;
  }

  .menu-item{
    width: 100%;
  }
  
  .menu-item i{
    margin: 1rem;
    color: var(--primary-color);
  }



  .menu-li a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
  }

  .menu-li:hover ,.db-section:hover{
    background-color: #d7d3d3;
  }

  
  .close-icon {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 2rem;
        z-index: 1000;
      }


      /* Style for the add task popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  border-radius: 5px;
  width: 400px;
  height: 330px;
}

.popup-item{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.3rem;
}
.popup-item:first-child{
  margin-top: 1rem;
}
.popup-item input{
  width: 70%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 1em 1.2em .5em;
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}
 input:focus{
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}
.popup-item label{
  width: 20%;
  margin-top: .8rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.btn-container {
  display: flex;
  justify-content: inherit;
  margin-top: 2.8rem;
}

.cancel-btn{
  width: 50%;
  height: 3.5rem;
  background: #ED213A;
  font-size: 1.1rem;
  font-weight: 800;
  color: #fff;
  border: none;
}

.add-task-btn{
  width: 50%;
  background: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--secondary-color);
  border: none;
}

.tb-bar {
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #737373;
  z-index: 0;
}

.tb-bar .tb-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tb-bar .tb-item.tb-start {
  margin-left: 25px;
}

.tb-bar .tb-item.tb-end {
  margin-right: 25px;
}

.tb-bar i{
  font-size: 1.7rem;
  cursor: pointer;
}

.tb-bar .active{
  color: rgb(45, 111, 245);
}

.tb-bar .fa-plus {
  font-size: 2rem;
  background: var(--primary-color);
  padding: 12px; 
  border-radius: 50%; 
  color: #fff; 
  margin-top: -30px; 
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(0deg); }
}

.waving-hand {
  display: inline-block;
  animation: wave 1s infinite;
}

